 @font-face {
	font-family: "LeagueGothic";  
	src: url("fonts/LeagueGothic-Regular.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
	margin: 0;
	padding:0;
}
body{background-color: #f9f9f9;
	overflow-x:hidden;
}

.header{
	background: url(img/bg1.png);
	height: 700px;
}
.container{
	width: 966px;
	height: auto;
	margin: 0px auto;
}
.logo p{
  padding-top: 70px;
  font-size: 2.5rem;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  line-height: 0.703;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.logo span{
  font-size: 2.5rem;
  font-family: "LeagueGothic";
  color: #5a3f66;
  line-height: 0.703;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 
}

.menu-xs{
	display: none;
}

.menu-lg{
  font-size: 1.5rem;
  font-family: "LeagueGothic";  
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.menu-lg a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	
}
.menu-lg a:hover{
	border-bottom: 3px solid #edbfff;
	
	
}

#carousel{
	background: rgba(0,0,0,0.3);
	height: 300px;
	margin-bottom: 100px;
	width: 100%;
	background-blend-mode: hard-light;
	margin-top: 150px;
	
}

.carousel-1 h3{
	padding-top: 80px;
	color: #fff;
	font-weight: bold;
	font-size: 2.6rem;
	font-family: "LeagueGothic";
}

#carousel .container h4{
	color: #edbfff;
	font-family: "LeagueGothic";
	font-size: 1.7rem;
}

.carousel-1 p::before{
	margin-left: -70px;
	padding-right: 40px;
}

.phone{
	position: absolute;
	margin-left: -50px;
	margin-top: -30px;
}

.phone1{
	position: relative;
}

.phone1::after{
	content: url("img/Shape 14 copy 8.png");
}

.centered{margin-left: 50%}

.my-container{
	background: linear-gradient(to bottom, #735082, #33253a);
	height: 350px;

}

.company{
  padding-top: 80px;
  font-family: "LeagueGothic"; 
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.company a{
	font-family: "LeagueGothic";
  	color: rgb(255, 255, 255);
  	line-height: 1.333;
  	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
	float: right;
	text-decoration: none;	
}

.company a:hover{
	border-bottom: 2px solid #edbfff;
}

.company p{
	 font-size: 0.8rem;
	 line-height: 1.5;
 	 font-family: "OpenSans";
 	 text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}

.img1::before{
	content:url("img/Layer 34.png");
	margin-left: -30px;
	padding-right: 10px;
}

.img2::before{
	content:url("img/Layer 35.png");
	margin-left: -30px;
	padding-right: 10px;
}
.img3::before{
	content:url("img/Layer 36.png");
	margin-left: -30px;
	padding-right: 10px;
}
.container-fl{
	background: #f9f9f9;
	height: 600px;
}

.bg-img{
	background:url('img/Layer 60.png') no-repeat;	
	margin-top: 100px;
	padding-right: 50px;	
}

.bg-img h4{
	color: #454545;
	font-family: "LeagueGothic";
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	font-size: 2rem;
}

.bg-img span{
	 color: #edbfff;
	 font-family: "LeagueGothic";
	 text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.bg-img p{
	 font-family: "OpenSans";
     color: rgb(69, 69, 69);
     line-height: 1.5;
     text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	 padding-right: 20px;
     font-size: 16px;
}

.img4::before{
	content:url("img/Layer 82.png");	
	margin-left: -35px;
	padding-right: 30px;

}
.list-unn li{list-style: none; position: relative; padding-top: 15px;}

.list-unn li::before{
	content: url("img/Layer 69.png");
	margin-left: -50px;
	position: absolute;
}
.list-unn li span{
	font-weight: bold;
	font-family: "OpenSans";
	color: #454545;
}
.list-unn{
  margin-top: 100px;
  padding-left: 50px;
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(69, 69, 69);
  line-height: 1.5;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.list-unn a{
	font-family: "LeagueGothic";
    color: #454545;
    line-height: 1.333;
	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
	float: right;
	text-decoration: none;
	font-size: 1.3rem;
	margin-top: 15px;
	
}

.list-unn a:hover{
	border-bottom: 2px solid #edbfff;
}

.list-unn h3{
  font-size: 30px;
  font-family: "LeagueGothic";
  color: rgb(69, 69, 69);
  line-height: 0.8;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.divan{
	margin-left: 37%;
	margin-top: 40px;
	position: relative;

}
#divan{
	margin-left: -64px;
	margin-top: 100px;
	position: relative;
	margin-bottom: 60px;
}
hr{
	border-top: 1px solid #e6e6e6;
}

.image-full{
	height: 100px;
	width: 82%;
	margin: 15px auto;
	padding-bottom: 25px;
}
.cent{
	margin-left: 40px;
}

.container-flu{
	border-top: 1px solid #d8d8d8;
	background: #ececec;
	padding-top: 90px;
}
.info-panel{padding-bottom: 80px;}
.info-panel p{
  font-size: 48px;
  font-family: "LeagueGothic";
  color: rgb(69, 69, 69);
  line-height: 0.703;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.info-panel span{
  font-size: 48px;
  font-family: "LeagueGothic";
  color: rgb(185, 185, 185);
  line-height: 0.703;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.info-panel spam{
  font-size: 16px;
  font-family: "Georgia";
  color: rgb(197, 197, 197);
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.info-panel i{
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(120, 120, 120);
  line-height: 1.5;
  text-align: left;
  font-style: normal;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.info-panel h4{
  font-size: 30px;
  font-family: "LeagueGothic";
  color: rgb(69, 69, 69);
  line-height: 0.8;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.container-flui{
	background: url('img/bg copy.png');
	height: 110px;
}

.vartical{
	padding-top: 30px;
}

.justify-content-start a{
	margin-left: 30px;
}


ul{list-style: none;}

ul.menu > li {   
    position: relative;
   z-index: 20;
   width: 100%;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    font-size: 20px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.75;
  text-align: center;
    text-decoration: none;
}

ul.menu > li > a {
	 text-align: center;
	}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px; 
    width: 60%;
    margin-left: 20%;
    
}
ul.submenu > li {
     
    font-size: 20px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.75;
  text-align: center;
    text-decoration: none;
    	border-bottom:1px solid #37293f;
	border-top: 1px solid #513e59;

}
ul.submenu > li > a {
    display: block;
    padding: 10px, auto;
    color: white;
    text-decoration: none;

}
.menu-xs .menu >li>a:hover{background-image: url("img/Layer 47.png")no-repeat ;}


ul.submenu > li > a:hover {
  opacity: 0.302;
  
}

ul.submenu > li > a:hover{
	color: #fff;
	opacity: 1;
	
}
ul.menu > li:hover > ul.submenu {
    display: block;
     background-image: url("img/Shape 8.png");
  opacity: 0.902;
  -webkit-background-size: cover;
  background-size: cover;
}



